$color--primary : #554D8A;
// 2DAAE4
$color--secondary : #343349;
$color--text : #6b6b6b;

$color--error : #F42525;
$color--success : #34CC62;
$color--warning : #35B0FF;

$admin-bg : #F5F6FA;
$module-rekrutimi:#D478EF;
$module-profilet: #0055FF;
$module-hyrjet:   #767EAD;
$module-oraret:   #F7921A;
$module-pushimet: #3AD8FC;
$module-financat: #00E470;
$module-language: #E42D62;

$page-vleresimet: #D3D518;
$other: #554DEF;


